
$general-background: #fff;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
  background-color: $general-background;
}

.content {

  margin: 0 auto;
  width: 800px;

  table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.65em;
    border: 1px solid #ccc;
    caption div {
      float: left;
      padding: 10px;
      border: 1px solid #ccc;
      border-bottom-color: $general-background;
      position: relative;
      top: 1px;
      width: 80px;
    }
    tbody {
      td {
        text-align: right;
        &:nth-child(2) {
          text-align: left;
          font-family: monospace;
          font-size: 1.4em;
        }
      }
    }
  }

}
