body {
  font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
  background-color: white; }

.container .nothing {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 200px;
  min-height: 200px; }
.container .tools {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 300px;
  min-height: 300px; }
  .container .tools .tool {
    margin: 0 10px 10px 10px;
    padding: 5px;
    border: 2px solid #fcefa1;
    border-radius: 4px; }
    .container .tools .tool div:first-child {
      text-align: center;
      background-color: #fcefa1; }
    .container .tools .tool label {
      font-size: 0.7em; }
    .container .tools .tool input {
      width: 100%;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .container .tools .tool pre {
      width: 100%;
      height: 21px;
      margin: 5px 0 0 0;
      background-color: #ccc;
      line-height: 21px;
      font-size: 0.8em;
      text-align: center; }
    .container .tools .tool button {
      height: 21px;
      line-height: 18px;
      border: 1px solid #cccccc;
      margin-top: 5px;
      width: 100%;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
.container .content {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 300px 0 200px; }
  .container .content h3 {
    background-color: #fcefa1; }
    .container .content h3 button {
      float: right;
      line-height: 18px;
      margin: 0; }
      .container .content h3 button:after {
        clear: both; }
  .container .content .data .pager {
    height: 22px;
    line-height: 20px;
    font-weight: bold;
    background-color: #cccccc; }
    .container .content .data .pager a {
      margin-top: 1px;
      width: 20px;
      height: 20px;
      background-color: white;
      text-decoration: none;
      text-align: center;
      color: black; }
      .container .content .data .pager a:hover {
        color: black; }
      .container .content .data .pager a:visited {
        color: black; }
    .container .content .data .pager .next {
      margin-right: 1px;
      float: right; }
      .container .content .data .pager .next:after {
        clear: both; }
    .container .content .data .pager .prev {
      margin-left: 1px;
      float: left;
      -moz-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1); }
      .container .content .data .pager .prev:after {
        clear: both; }
  .container .content .data table#nodes {
    margin-bottom: 10px; }
  .container .content .data table#nodes tbody tr td, .container .content .data table#routers tbody tr td, .container .content .data table#general tbody tr td {
    text-align: right; }
    .container .content .data table#nodes tbody tr td:nth-child(2), .container .content .data table#nodes tbody tr td:nth-child(3), .container .content .data table#routers tbody tr td:nth-child(2), .container .content .data table#routers tbody tr td:nth-child(3), .container .content .data table#general tbody tr td:nth-child(2), .container .content .data table#general tbody tr td:nth-child(3) {
      text-align: left;
      font-family: monospace;
      font-size: 1.4em;
      vertical-align: text-top; }
  .container .content .data table#general tbody tr:hover {
    background-color: inherit; }
  .container .content .data table#nodes tbody tr td, .container .content .data table#routers tbody tr td {
    cursor: pointer; }
  .container .content .data table#table tbody tr td i {
    color: #cccccc; }
  .container .content .data table#table tbody tr td:nth-child(1), .container .content .data table#table tbody tr td:nth-child(2) {
    font-family: monospace;
    font-size: 1.4em;
    vertical-align: text-top; }
  .container .content .data table#table tbody tr td[colspan] {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    background-color: #fcefa1; }
  .container .content .data table {
    width: 100%;
    font-size: 0.65em;
    border: 1px solid #cccccc;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 10px; }
    .container .content .data table caption div {
      float: left;
      padding: 10px;
      border: 1px solid #cccccc;
      border-bottom-color: white;
      position: relative;
      top: 1px;
      width: 80px; }
    .container .content .data table thead tr th {
      padding: 0 5px 0 5px; }
    .container .content .data table tbody tr:hover {
      background-color: #cccccc; }
    .container .content .data table tbody tr td {
      text-align: right;
      line-height: 19px;
      padding: 0 5px 0 5px; }
