body {
  font-family: "Helvetica Neue", Helvetica, Arial, san-serif;
  background-color: white; }

.content {
  margin: 0 auto;
  width: 800px; }
  .content table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 0.65em;
    border: 1px solid #ccc; }
    .content table caption div {
      float: left;
      padding: 10px;
      border: 1px solid #ccc;
      border-bottom-color: white;
      position: relative;
      top: 1px;
      width: 80px; }
    .content table tbody td {
      text-align: right; }
      .content table tbody td:nth-child(2) {
        text-align: left;
        font-family: monospace;
        font-size: 1.4em; }
